@import "../variables";

.hireButton {
  background-color: $primary-color;
  padding: 8px 40px;
  color: white;
  transition: transform .3s ease-in-out;
}

.hireButton:hover{
  transform: scale(1.1);
  // box-shadow: 0 0 5px $primary-color;
  color: white;
}