@import "../variables";
.preview-button {
  background-color: $primary-color;
  color: white;
}

.visit-button {
  background-color: white;
  color: $primary-color;
  border: 1px solid $primary-color;
}

.project-cards {
  border: 1px solid #6C757D;
  padding: 20px;
  border-radius: 10px;
}