.mainIntro {
  padding-top: 15vh;
  padding-bottom: 10vh;
  color: white;

  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}

.main-heading {
  color: black;
  font-family: "Droid Sans";
  font-size: 48px;
}

.main-subheading {
  color: gray;
  font-size: 30px;
}

.hireButton {
  background-color: #6C63FF;
  padding: 8px 40px;
  color: white;
  transition: box-shadow .3s ease-in-out;
}

.hireButton:hover{
  box-shadow: 0 0 5px #6C63FF;
}