@import "../variables";

.mainIntro {
  padding-top: 15vh;
  padding-bottom: 10vh;
  color: white;

  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}

.main-heading {
  color: $heading1-color;
  font-family: "Roboto Condensed";
  font-size: 48px;
}

.main-subheading {
  color: $heading2-color;
  color: black;
  font-size: 30px;
}