@import "../variables";

.mainIntro {
  padding-top: 15vh;
  padding-bottom: 10vh;
  color: white;

  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}

.main-heading {
  color: $heading1-color;
  font-family: "Roboto Condensed";
  font-size: 48px;
}

.main-subheading {
  color: $heading2-color;
  color: black;
  font-size: 30px;
}

@keyframes wave-emoji {
  0% {
    transform: rotateY(30deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

.wave {
  display: inline-block;
  color: red;
  animation-name: wave-emoji;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
