@import "../variables";

.about-outer-wrapper {
  font-family: "Roboto Condensed Light";
}

.about-image {
  max-width: 200px;
  border: 1px solid #6C63FF;
  margin: auto auto;
}

.about-inner-wrapper {
  font-size: 15px;
  margin: auto auto;
  line-height: 30px;
}

.about-key {
  display: inline-block;
  font-weight: bold;
}

.about-value {
  display: inline-block;
}