@import "../variables";

.about-outer-wrapper {
  font-family: "Droid San";
}

.about-image {
  max-height: 350px;
  border: 1px solid #6C63FF
}

.about-inner-wrapper {
  font-size: 15px;
  margin: auto auto;
  line-height: 30px;
}

.about-key {
  display: inline-block;
  font-weight: bold;
}

.about-value {
  display: inline-block;
}