@import "variables";

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /*font-family: "Dancing Script";*/
  /*font-family: "Droid Sans";*/
  font-family: "Roboto Light";
  font-size: 16px;
  background-color: $background-color;
}
